
    <header class="header">
        <div class="container container-flex">
            <div class="site-title">
                <a href="/"><h1>Diego de Miguel's Portfolio</h1></a>
                <a href="/"><p class="subtitle">A comprehensive overview of my personal and class projects</p></a>
            </div>
        </div>
    </header>
